.menu-header {
  color: #f0e1e1;
  cursor: pointer;
  border: solid 2px #63bf43;
  border-radius: 100%;
  background-color: #63bf43;
  font-size: 2rem;
  padding: 10px;
  display: none;
}

.menu-header:hover {
  background-color: #3f8f25;
  border: solid 2px #3f8f25;
}

@media (max-width: 1000px) {
  .menu-header {
    display: flex;
  }
}
