#first {
  color: rgb(50, 42, 56);
}

.menu-fixed {
  background-color: #63bf43;
  color: #f0e1e1;
  height: 100vh;
  width: 100%;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  left: -250px;
  transition: left 0.3s ease;
  font-size: 1.1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  overflow-y: auto;
  overflow-x: scroll;
  scrollbar-width: none;
}

.menu-fixed.active {
  left: 0;
  max-height: 100vh;
  z-index: 1000;
}

.menu-fixed ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.menu-fixed ul::-webkit-scrollbar {
  display: none;
}
.menu-fixed ul li {
  border-bottom: 1px solid rgb(99, 93, 93);
  font-weight: 600;
}

.menu-fixed ul li a:hover {
  color: black;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}
.overlay.active {
  display: block;
  opacity: 1;
}
.overlay-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  border-radius: 20px;
}
.logo {
  width: 60px;
  border-radius: 50%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
}
.active-drawer {
  border-bottom: 2px solid #63bf43;
}
.navbar-xl {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
}
.navbar-xl-list {
  display: flex;
  color: black;
}

.navbar-xl-list ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 20px;
}
.navbar-xl-list ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.navbar-xl-list ul li a:hover {
  border-bottom: 2px solid #63bf43;
}

@media (max-width: 1000px) {
  .navbar-xl-list {
    display: none;
  }
}
