@media (max-width: 640px) {
  .container {
    margin: 10px 20px;
  }

  .modal {
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 20px;
  }

  .modal-container {
    margin-top: 20px;
  }

  .modal-title {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
  }
  .modal-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    max-height: 120px;
    border: 2px solid #fff;
    border-radius: 30px;
    margin-top: 20px;
  }
  #close {
    position: absolute !important;
    top: -180px !important;
    left: -20px !important;
    border-radius: 20px;
    padding: 12px;
    color: #000;
    border: 1px solid #fff;
  }

  .closed {
    position: relative !important;
  }
  .box-child {
    border: 1px solid #fff;
    padding: 1rem 0.5rem;
    background-color: #925632;
    box-shadow: 1px 2px #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 1rem;
  }

  .boxes {
    display: block;
    padding-top: 1.5rem;
  }
  .box-content {
    display: block;
  }
}
